<% polls.each do |poll| %>
  <tr>
    <td><%= check_box_tag 'poll_ids[]', poll.id %></td>
    <td><%= poll.title %></td>
    <td><%= poll.first_name %></td>
    <td><%= poll.last_name %></td>
    <td><%= poll.content %></td>
    <td><%= link_to 'Show', poll %></td>
    <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<%= submit_tag 'Submit' %>